body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #e2d8d0;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

nav .cmLogo img {
    height: 60px;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex: 2;
    justify-content: flex-end;
    margin-right: 50px;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px;
    position: relative; 
}

/* Hover and Active Underline Effect */
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #333;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
    width: 100%; 
}

nav ul li a:hover {
    color: #555;
}
#home {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#home .container {
    display: flex;
    align-items: center;
}

#home .col-md-6 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.text-context h1 {
    font-family: "Playfair Display SC", serif;
        font-size: 48px;
}

.text-context p {
    margin: 20px 0;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;

}

.text-context button {
    background-color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.text-context button a {
    color: #fff;
    text-decoration: none;
}

.text-context button a:hover {
    color: #d4c3b0;
}

/* Responsive Design */
@media (max-width: 768px) {
    #home {
        flex-direction: column;
        text-align: center;
    }

    #home .col-md-6 {
        margin-bottom: 30px;
    }

    #home .text-context {
        align-items: center;
        padding: 1rem;
    }

    #home .text-context h1 {
        font-size: 36px;
    }
}
